
*.tmp
*.temp
.clangd/
.obsidian/

# c/c++
#-------------------------------------------------------------------
# 编译生成的文件
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# 编译生成的文件夹
build/
bin/

# 依赖库文件
lib/

# IDE 自动生成的文件和文件夹
.vscode/
.idea/
*.suo
*.sdf
*.sln
*.suo
*.user
*.aps
*.pch
*.vs
*.cproj
*.vcxproj
*.opensdf
*.db

# 编辑器备份文件
*~
#-------------------------------------------------------------------
